*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left__container{
    width: 230px;
    height: 1149px;
    flex-shrink: 0;
    background: #dd8383;
}

.logo a{
    color: #013CC6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 50px;
    }
    .nav{
        flex-wrap: nowrap; 
        flex-direction: row;
    }
    .pusk h2{
        color:#0B63F8
    }

    .pusk{
    display: flex;
    margin-top: 65px;
    gap: 15px;
    margin-left: 41px;
    }
    .pusk2{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk3{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk4{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk5{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk6{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk7{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }