*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left__container{
    width: 230px;
    height: 1149px;
    flex-shrink: 0;
    background: #dd8383;
}

.logo a{
    color: #013CC6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 50px;
    }