*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left__container{
    width: 230px;
    height: 1100px;
    flex-shrink: 0;
    background: #fff;
    max-width: 100%;
}

.logo a{
    color: #013CC6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: all 0.5s;
    margin-left: 29px;
    }
    .logo a:hover{
        color:rgb(0, 0, 117)
    }
    .nav{
        flex-wrap: nowrap; 
        flex-direction: row;
        cursor: pointer;
    }
    .pusk h2{
        color:#0B63F8;
        color: #0B63F8;
    font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;
        cursor: pointer;
        }
        .pusk2 h2{
            color: #000;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.32px;
            cursor: pointer;
            transition: all 0.5s;
            }
            .pusk2 h2:hover{
                color:blue;
            }
            .pusk3 h2{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                cursor: pointer;
                transition: all 0.5s;
                align-items: center;
            }
            .pusk3 h2:hover{
                color:blue;
            }
            .pusk4 h2{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                cursor: pointer;
                transition: all 0.5s;
            }
            .pusk4 h2:hover{
                color:blue;
            }
            .pusk5 h2{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                cursor: pointer;
                transition: all 0.5s;
            }
            .pusk5 h2:hover{
                color:blue;
            }
            .pusk6 h2{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                cursor: pointer;
                transition: all 0.5s;
            }
            .pusk6 h2:hover{
                color:blue;
            }
            .pusk7 h2{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                cursor: pointer;
                transition: all 0.5s;
            }
            .pusk7 h2:hover{
                color:blue;
            }
        

    .pusk{
    display: flex;
    margin-top: 65px;
    gap: 15px;
    margin-left: 41px;
    }
    .pusk2{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk3{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk4{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk5{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk6{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }
    .pusk7{
        display: flex;
        margin-top: 41px;
        gap: 15px;
        margin-left: 41px;
    }

    .foot{
        display: flex;
        align-items: center;
       margin-top: 450px;
       margin-left: 41px;
       gap: 16px;
    }
    .foot h4{
        color: #131313;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    transition: all 0.5s;
    cursor: pointer;
    }

    .foot h4:hover{
    color:blue;
    }

    .to-all__container{
        background: #F8F8F8;
        display: flex;
        margin-left: 230px;
        margin-top: -1100px;
    }
    .right__container{
        display:flex;
    }
    .input{
        font-size: 30px;
        margin-top: 56.1px;
        cursor: pointer;
    }

    .input input{
        color:rgb(0, 0, 0);
        width: 655px;
        height: 52px;
        flex-shrink: 0;
        font-size: 14px;
        margin-left: 40px;
        cursor: pointer;
    }
    .input[type=text]{
        padding: 12px;
        border: 1px solid black;
        border-radius: 9px;
    }
    .to-all__container{
        width: 1210px;
        height: 1400px;
        background-color:#F8F8F8 ;
    }
    .picture{
        width: 52px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FFF;
    margin-left: 100px;
    cursor: pointer;
    margin-top: 56.1px;
    
    }
    .picture img{
        padding: 14px;
        cursor: pointer;
    }

    .images{
        margin-left: 20px;
        cursor: pointer;
        margin-top: 56.1px;
    }

    .second__container{
        margin-top: 20px;
        margin-left: -1000px;
    }
    .text p{
        color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 152px;
    margin-left: 140px;
    margin-bottom: 24px;
    transition: all 0.5s;
    cursor: pointer;
    }
    .text p:hover{
        color:blue;
    }

.inputs__container{
    margin-top: 230px;
    display: flex;
    gap: 208px;
    margin-left: -170px;
    cursor: pointer;
}
.first-item h2{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s;
}
.first-item h2:hover{
    color:blue;
}
.item-2 h2{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 0.5s;
}
.item-2 h2:hover{
    color:blue;
}
.item-3 h2{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 0.5s;
}
.item-3 h2:hover{
    color:blue;
}
.item-4 h2{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 0.5s;
}
.item-4 h2:hover{
    color:blue;
}
.input__container{
    margin-top: 300px;
    display: flex;
    margin-left: -890px;
}
.first-input input{
    display: inline-flex;
    height: 50px;
    padding: 13px 170px 13px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.25);
    background: #FFF;
    cursor: pointer;
    margin-left: 0px;
}
.second-input input{
    display: inline-flex;
    height: 50px;
    padding: 13px 170px 13px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.25);
    background: #FFF;
    cursor: pointer;
}
.third-input input{
    display: inline-flex;
    height: 50px;
    padding: 13px 170px 13px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.25);
    background: #FFF;
    cursor: pointer;
}
.fourth-input input{
    display: inline-flex;
    height: 50px;
    padding: 13px 170px 13px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.25);
    background: #FFF;
    cursor: pointer;
}

